.main {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden; //horizontal
    
    .container {
        display: flex;
        flex-direction: column;
        // background-color: royalblue;
        align-items: center;
    
        // .content {
            padding: 24px;
            // width: 65%;
            // display: flex;
            // justify-content: center;
            // background-color: red;
        // }
    }
}

.logo {
    transform: scale(1.5, 1.5);
}