.main {
    width: 100vw;
    height: 100vh;
    
    .container {
        display: flex;
        flex-direction: column;
        // background-color: royalblue;
        align-items: center;
    
        .content {
            padding: 24px;
            width: 60%;
            display: flex;
            justify-content: center;
            // background-color: red;
        }
    }
}