<div class="main">
  <mat-toolbar color="primary">
    <span class="spacer"></span>
    <span>Rick & Morty</span>
    <span class="spacer"></span>
    <button mat-icon-button [matMenuTriggerFor]="beforeMenu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #beforeMenu="matMenu" xPosition="before">
      <button mat-menu-item>
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </button>
      <button mat-menu-item>
        <mat-icon>home</mat-icon>
        <span>Characters</span>
      </button>
      <button mat-menu-item>
        <mat-icon>home</mat-icon>
        <span>Locations</span>
      </button>
      <button mat-menu-item>
        <mat-icon>home</mat-icon>
        <span>Episodes</span>
      </button>
      <button mat-menu-item (click)="$event.stopPropagation()">
        <mat-icon>{{darkModeControl.value ? 'dark_mode' : 'light_mode'}}</mat-icon>
        <mat-slide-toggle [formControl]="darkModeControl">{{darkModeControl.value ? 'Dark Mode' : 'Light Mode'}}</mat-slide-toggle>
      </button>
    </mat-menu>
  </mat-toolbar>
  
  <div class="container">
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>