$grid-gap: 16px;

#characters {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: $grid-gap;
    column-gap: $grid-gap;
    // background-color: red;

    mat-card {
        max-width: 400px;

        mat-card-title {
            color: royalblue;
        }

        mat-card-content {
            .row {
                display: flex;
                flex-direction: column;
                margin-bottom: 8px;

                span:first-child {
                    color: grey;
                    font-size: 1.5em;
                }

                div {
                    display: flex;
                    flex-direction: row;
                    align-items: center;

                    .status-icon {
                        height: 16px;
                        width: 16px;
                        border-radius: 50%;
                        margin-right: 8px;
                    }

                    .alive {
                        background-color: green;
                    }

                    .dead {
                        background-color: red;
                    }

                    .unknown {
                        background-color: grey;
                    }
                }
            }
        }
    }
}

.pagination {
    // position: absolute;
    // left: 0;
    // right: 0;
    // bottom: 0;
    // height: 64px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 16px;

    .middle {
        margin-left: 8px;
        margin-right: 8px;
    }
}